.buyer-form {
  width: 900px;
}

.buyer-form > input, select {
  height: 20px;
  padding-left: 5px;
}

.buyer-form > :nth-child( 1 ) {
  width: 200px;
}

.buyer-form > :nth-child( 2 ) {
  width: 200px;
}

.buyer-form > :nth-child( 3 ) {
  width: 200px;
}

.buyer-form > :nth-child( 4 ) {
  width: 200px;
}

.buyer-form > :nth-child( 5 ) {
  width: 200px;
}

.buyer-form > :nth-child( 6 ) {
  width: 642px;
}

.buyer-form > :nth-child( 9 ) {
  width: 372px;
}

.buyer-form > :nth-child( 10 ) {
  height: 25px;
  padding-left: 5px;
  width: 100px;
}
