.productCardContainer {
  /* background-color: antiquewhite; */
  border: 1px solid rgba(0, 0, 0, 0.616);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 1rem;
  width: 20rem;
}

.productCardContainer h4 {
  background-color: rgb(238, 238, 238);
  border-radius: 10px 10px 0 0;
  height: 50px;
  margin: 0;
  padding: 10px;
}

.productCardContainer img {
  max-width: 10rem;
  margin: 0 auto;
}