.home-container {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  width: 80%;
}

@media only screen and ( max-width : 1400px ) {

  .main-container {
    margin: 0 0 0 auto;
    width: 75%;
  }

}
