* {
  background-color: white;
  font-family: '"Inter"' , sans-serif;
}

.checkoutPage {
  display: flex;
  justify-content: space-evenly;
}

.backArrow {
  color: #3f51b5;
  margin-left: 60px;
  margin-top: 20px;
  text-decoration: none;
}

fieldset {
  border: 1px solid rgb(129, 129, 129);
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(8, 8, 8, 0.06);
  margin: 20px 0;
}

fieldset legend {
  color: #3f51b5;
  font-weight: 600;
}

.title {
  font-weight: 600;
}

.cardPaymentMethodField {
  display: flex;
  flex-flow: row , nowrap;
  justify-content: space-evenly;
}

.cardPaymentMethodField p {
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: center;
}

.checkoutPageRight {
  flex-basis: 50%;
}

.cartReviewField {
  flex-basis: 50%;
}

.buyerInput {
  border: 2px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(8, 8, 8, 0.06);
  margin: 5px;
  padding: 5px;
}

.cartBtn {
  appearance: none;
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 100%;
}

img {
  width: 130px;
}
