.headerLinks {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  padding: 20px;
}

.linkShoppingCart div span {
  font-size: 1rem;
}

.linkShoppingCart {
  color: black;
  text-decoration: none;
}

.productContainer {
  display: flex;
  flex-direction: row;
}

.titleDetails {
  align-items: flex-start;
  color: rgb(55, 55, 55);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 900;
  justify-content: flex-start;
  margin: 1rem;
  max-width: 25%;
}

/* .priceContainer {
  align-items: flex-start;
  color: rgb(55, 55, 55);
  font-size: 1.4rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
} */

.productContanerDetail img {
  max-height: 100%;
  max-width: 100%;
}

/* .buttonsCardDetails {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 10px 0;
  margin: 0;
} */

.detailsToAddCart {
  background-color: rgb(230, 0, 20);
  border: 1px solid rgba(0, 0, 0, 0.288);
  color: azure;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 20px;
}
