.cart-product-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cart-img {
  margin-right: 10px;
}

.cart-button {
  height: 30px;
  margin: 0 10px;
  width: 30px;
}
