.loadingContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-left-color: black;
  border-radius: 50%;
  height: 1rem;
  margin-right: 10px;
  width: 1rem;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}
