.aside-categories {
  background-color: gainsboro;
  border-color: #282c34;
  border-style: solid;
  border-width: 2px;
  float: left;
  width: 20%;
}

.aside-categories h3 {
  text-align: center;
}

.aside-categories ul {

  /*  https://pt.stackoverflow.com/questions/424667/como-tirar-esse-pontos  */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.aside-categories li {

  /*  https://pt.stackoverflow.com/questions/424667/como-tirar-esse-pontos  */
  padding-bottom: 3px;
  padding-left: 10px;
  padding-top: 3px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding: 10px 30px;
}

.arrow-back {
  padding: 5px 30px;
}

.shopping-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.input-search {
  border-radius: 30px;
  height: 35px;
  margin-right: 30px;
  outline: none;
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
