.App {
  text-align: center;
}

body {
  background-color: #eef0f6;
}

.header-app {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.input-container {
  height: 60px;
}

.input-container button {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 0 10px 10px 0;
  color: #1e272e;
  cursor: pointer;
  font-size: 18px;
  margin-top: auto;
  outline: none;
  padding: 9px 20px;
  text-align: center;
  transition: 0.3s;
}

.search-input {
  background: white;
  border: 1px solid #c6c6c6;
  border-radius: 10px 0 0 10px;
  font-size: 17.3px;
  margin-top: 14px;
  outline: #d0d0d1;
  padding: 9px;
  width: 440px;
}

h2 span {
  color: #e74c3c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.main-content {
  display: flex;
}

.main-content aside {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 20%;
}

aside .category-box {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 250px;
}

.category-box label {
  margin-top: 4px;
}

.input-radio {
  appearance: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  left: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 250px;
}

.input-radio:checked {
  background-color: #e74c3c;
  z-index: -1;
}

.input-radio:checked + label {
  color: white;
}

.input-radio:hover {
  border: solid 1px #e74c3c;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 90%;

}

.nothing {
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 20px;
  color: #1e272e;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  line-height: 1.6;
  margin: 10px;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  text-align: center;
  transition: 0.4s;
  width: 255px;
}

.card button {
  background-color: white;
  border: 1px solid #d0d0d1;
  border-radius: 10px;
  color: #1e272e;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: 0.2s;
}

.card button:hover {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  color: white;
}

.card a {
  color: #171817;
  text-decoration: none;
}

.price {
  color: #171817;
  display: block;
  font-weight: 500;
}

@media only screen and ( max-width : 600px ) {

  .header-app h2 {
    display: none;
  }

  .header-app {
    flex-direction: column;
  }

}
