.App {
  text-align: center;
}

.category {
  padding: 0.3em 6px;
}

.category button {
  padding: 5px;
  width: fit-content;
}

.feedback {
  border: 1px solid lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
  margin: 1rem 0;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 30%;
}

.home {
  margin: 1em 20px;
  text-align: center;
}

.home-results {
  display: flex;
}

.product-detail {
  text-align: center;
}

.product-image {
  max-width: 800px;
}

.product-item {
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 3px 3px 5px lightgrey;
  margin: 1em 0;
  padding: 1%;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
