/* Arquivo SearchBar */
.main {
  flex-direction: column;
}

.main, .header {
  align-items: center;
  display: inline;
  justify-content: center;
  width: 900px;
}

.header {
  height: 100vh;
}

.master-container {
  display: flex;
}

.message {
  text-align: center;
}

.search-bar-main {
  border-radius: 15px;
  height: 20px;
  outline: none;
  padding: 5px;
  width: 60%;
}

.shop-cart-main {
  display: inline;
  margin-left: 30px;
  max-width: 35px;
  transition: 150ms;
}

.shop-cart-main:hover {
  transform: scale(1.05);
}

.shop-cart-main:active {
  transform: scale(0.95);
}

.btn-search {
  background-color: rgb(225, 225, 225);
  border-radius: 18px;
  margin-left: 35px;
  outline: none;
  padding: 5px 10px;
}

.btn-search:hover {
  background-color: lightgray;
}

.btn-search:active {
  background-color: rgb(232, 232, 232);
}

/* Arquivo ShopCart */
.content-cart {
  align-items: center;
  display: flex;
  margin: 40px 0 0 40px;
}

.previous-shop, .shop-cart-shop {
  max-width: 50px;
}

.previous-shop {
  display: block;
  margin: 40px 0 0 40px;
  transition: 150ms;
}

.previous-shop:hover {
  transform: scale(1.05);
}

.cart-description {
  font-weight: 800;
  margin-left: 30px;
}

.content-empty {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.box-shop {
  margin: 0 auto;
  max-width: 200px;
}

.empty-message {
  text-align: center;
}

/* Categorias */
.content-category {
  display: inline-block;
}

.category {
  border: solid 1px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 250px;
  padding: 10px;
}

/* Card */
.alert-message {
  text-align: center;
}

.card {
  border: 1px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 20%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-title {
  font-size: 17px;
}

.image {
  height: 110px;
  margin: auto;
  max-width: 180px;
  overflow: hidden;
}

img {
  max-width: 180px;
}

