.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.categories-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
}

.categories-list-title {
  margin: 20px;
  padding: 0 10px;
}

.categories-list-title {
  padding: 0 10px;
  margin: 20px;
}
